[submodule "datasets"]
	path = datasets
	url = git@github.com:VidasContadas/datasets.git
[submodule "vendors/leaflet-search"]
	path = vendors/leaflet-search
	url = git@github.com:stefanocudini/leaflet-search.git
[submodule "scrapers"]
	path = scrapers
	url = git@github.com:VidasContadas/scrapers.git
